<section class="advantages">
  <div class="advantages__content">
    <h2 class="advantages__title">Преимущества</h2>
    <ul class="advantages__container">
      <li class="advantages__column">
        <div class="advantages__card">
          <svg width="48" height="48" aria-hidden="true" class="advantages__icon">
            <use xlink:href="#natural"></use>
          </svg>
          <div class="advantages__text-block">
            <h3 class="advantages__card-title">
              Высший экологический стандарт
            </h3>
            <p class="advantages__card-text">
              Главное — дать описание какого-либо предмета, объекта или действия
            </p>
          </div>
        </div>
      </li>
      <li class="advantages__column">
        <div class="advantages__card">
          <div class="advantages__text-block">
            <h3 class="advantages__card-title advantages__title-precent">
              >50%
            </h3>
            <p class="advantages__card-text  advantages__text-precent">
              Cырья поступает из возобновляемых источников
            </p>
          </div>
        </div>
      </li>
      <li class="advantages__column">
        <div class="advantages__image-wrapper">
          <div class="advantages__text-loop-list">
            <p class="advantages__text-loop">Биокомпозит</p>
            <p class="advantages__text-loop">Биокомпозит</p>
            <p class="advantages__text-loop">Биокомпозит</p>
            <p class="advantages__text-loop">Биокомпозит</p>
          </div>
          <div class="advantages__text-loop-list">
            <p class="advantages__text-loop">Биокомпозит</p>
            <p class="advantages__text-loop">Биокомпозит</p>
            <p class="advantages__text-loop">Биокомпозит</p>
            <p class="advantages__text-loop">Биокомпозит</p>
          </div>
          <div class="advantages__text-loop-list">
            <p class="advantages__text-loop">Биокомпозит</p>
            <p class="advantages__text-loop">Биокомпозит</p>
            <p class="advantages__text-loop">Биокомпозит</p>
            <p class="advantages__text-loop">Биокомпозит</p>
          </div>
          <div class="advantages__text-loop-list">
            <p class="advantages__text-loop">Биокомпозит</p>
            <p class="advantages__text-loop">Биокомпозит</p>
            <p class="advantages__text-loop">Биокомпозит</p>
            <p class="advantages__text-loop">Биокомпозит</p>
          </div>

          <img src="/images/round-7.png" alt="icon" class="advantages__image">
        </div>
      </li>
      <li class="advantages__column">
        <div class="advantages__card">
          <svg width="48" height="48" aria-hidden="true" class="advantages__icon">
            <use xlink:href="#charesteristic"></use>
          </svg>
          <div class="advantages__text-block">
            <h3 class="advantages__card-title">
              Отличные характеристики
            </h3>
            <p class="advantages__card-text">
              Главное — дать описание какого-либо предмета, объекта или действия
            </p>
          </div>
        </div>
      </li>
      <li class="advantages__column">
        <div class="advantages__card">
          <svg width="48" height="48" aria-hidden="true" class="advantages__icon">
            <use xlink:href="#cost"></use>
          </svg>
          <div class="advantages__text-block">
            <h3 class="advantages__card-title">
              Низкая
              себестоимость
            </h3>
            <p class="advantages__card-text">
              Главное — дать описание какого-либо предмета, объекта или действия
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>