<section class="advantages">
  <div class="advantages__content">
    <h2 class="advantages__title">Преимущества</h2>
    <ul class="advantages__container">
      <li class="advantages__column">
        <div class="advantages__card">
          <svg width="48" height="48" aria-hidden="true" class="advantages__icon">
            <use xlink:href="#natural"></use>
          </svg>
          <h3 class="advantage__card-title">
            Высший экологический стандарт
          </h3>
          <p class="advantage__card-text">
            Главное — дать описание какого-либо предмета, объекта или действия
          </p>
        </div>

        <div class="advantages__card">
          <h3 class="advantage__card-title">
            >50%
          </h3>
          <p class="advantage__card-text">
            Cырья поступает из возобновляемых источников
          </p>
        </div>
      </li>
      <li class="advantages__column">
        <img src="/images/round-7.png" alt="icon" class="advantages__image">
      </li>
      <li class="advantages__column">
        <div class="advantages__card">
          <svg width="48" height="48" aria-hidden="true" class="advantages__icon">
            <use xlink:href="#charesteristic"></use>
          </svg>
          <h3 class="advantage__card-title">
            Отличные характеристики
          </h3>
          <p class="advantage__card-text">
            Главное — дать описание какого-либо предмета, объекта или действия
          </p>
        </div>

        <div class="advantages__card">
          <svg width="48" height="48" aria-hidden="true" class="advantages__icon">
            <use xlink:href="#cost"></use>
          </svg>
          <h3 class="advantage__card-title">
            Низкая
            себестоимость
          </h3>
          <p class="advantage__card-text">
            Главное — дать описание какого-либо предмета, объекта или действия
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>