<div class="modal-burger">
  <div class="modal-burger__container">
    <div class="modal-burger__block">
      <nav class="modal-burger__links">
        <p class="modal-burger__upper-title">О НАС</p>
        <div class="modal-burger__links-block">
          <a href="/#" class="modal-burger__link">Производство</a>
          <a href="/#" class="modal-burger__link">Решения для отраслей</a>
        </div>
      </nav>
      <nav class="modal-burger__links">
        <p class="modal-burger__upper-title">Наши контакты</p>
        <div class="modal-burger__links-block">
          <a href="tel:+78555751998" class="modal-burger__number">8 855 575-19-98</a>
          <a href="mailto:sales@tnpc.ru" class="modal-burger__email">
            <svg width="20" height="20" aria-hidden="true">
              <use xlink:href="#email"></use>
            </svg>
            sales@tnpc.ru
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>