<section class="clients">
  <div class="clients__content">
    <h2 class="clients__title">Наши клиенты</h2>
    <nav class="clients__cards">
      <a class="clients__card" href="/#" target="_blank">
        <svg width="220" height="50" aria-hidden="true">
          <use xlink:href="#partner-1"></use>
        </svg>
      </a>
      <a class="clients__card" href="/#" target="_blank">
        <svg width="220" height="50" aria-hidden="true">
          <use xlink:href="#partner-2"></use>
        </svg>
      </a>
      <a class="clients__card" href="/#" target="_blank">
        <svg width="220" height="50" aria-hidden="true">
          <use xlink:href="#partner-3"></use>
        </svg>
      </a>
      <a class="clients__card" href="/#" target="_blank">
        <svg width="220" height="50" aria-hidden="true">
          <use xlink:href="#partner-4"></use>
        </svg>
      </a>
      <a class="clients__card" href="/#" target="_blank">
        <svg width="220" height="50" aria-hidden="true">
          <use xlink:href="#partner-5"></use>
        </svg>
      </a>
      <a class="clients__card" href="/#" target="_blank">
        <svg width="220" height="50" aria-hidden="true">
          <use xlink:href="#partner-6"></use>
        </svg>
      </a>
      <a class="clients__card" href="/#" target="_blank">
        <svg width="220" height="50" aria-hidden="true">
          <use xlink:href="#partner-7"></use>
        </svg>
      </a>
      <a class="clients__card" href="/#" target="_blank">
        <svg width="220" height="50" aria-hidden="true">
          <use xlink:href="#partner-8"></use>
        </svg>
      </a>
    </nav>
  </div>
</section>