<section class="elements">
  <div class="elements__content">
    <div class="elements__slider">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <video class="elements__bg-video" autoplay="" muted="" loop="loop">
            <source src="video/elements.mp4" type="video/mp4">
            Your browser not supported video tag.
          </video>

          <div class="elements__slide">
            <div class="elements__tags">
              <span class="elements__tag">Продуктовый портфель</span>
              <span class="elements__tag">Городская среда</span>
            </div>

            <div class="elements__bottom">
              <h2 class="elements__title">Элементы городского благоустройства</h2>
              <p class="elements__text">Скамейки, столбы освещения, элементы паркового оснащения</p>
            </div>
          </div>

        </div>
        <div class="swiper-slide">
          <video class="elements__bg-video" autoplay="" muted="" loop="loop">
            <source src="video/elements.mp4" type="video/mp4">
            Your browser not supported video tag.
          </video>

          <div class="elements__slide">
            <div class="elements__tags">
              <span class="elements__tag">Городская среда</span>
            </div>

            <div class="elements__bottom">
              <h2 class="elements__title">Элементы городского благоустройства</h2>
              <p class="elements__text">Скамейки, столбы освещения, элементы паркового оснащения</p>
            </div>
          </div>

        </div>
      </div>

      <div class="elements__navigation">
        <button class="elements__button-nav button-prev">
          <svg width="15" height="11" aria-hidden="true">
            <use xlink:href="#arrow-black"></use>
          </svg>
        </button>
        <button class="elements__button-nav button-next">
          <svg width="15" height="11" aria-hidden="true">
            <use xlink:href="#arrow-black"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>