<footer class="footer">
  <div class="footer__content">
    <div class="footer__column">
      <h2 class="footer__title">Свяжитесь с нами и мы решим ваши задачи</h2>
      <a href="" class="footer__link-logo">
        <svg width="220" height="50" aria-hidden="true">
          <use xlink:href="#logotype"></use>
        </svg>
      </a>
    </div>
    <div class="footer__column">
      <div class="footer__upper-column">
        <a href="tel:+78555751998" class="footer__number">8 855 575-19-98</a>
        <a href="mailto:sales@tnpc.ru" class="footer__email">
          <svg width="20" height="20" aria-hidden="true">
            <use xlink:href="#email"></use>
          </svg>
          sales@tnpc.ru
        </a>
      </div>
      <a class="footer__creator" href="https://markweber.ru/" target="_blank">
        Разработка сайта
          <svg width="88" height="28" aria-hidden="true">
            <use xlink:href="#createrLogo"></use>
          </svg>
      </a>
    </div>
  </div>
</footer>