<header class="header">
  <div class="header__content">
    <a href="/#" class="header__logo">
      <svg width="220" height="50" aria-hidden="true">
        <use xlink:href="#logotype"></use>
      </svg>
    </a>
    <ul class="header__navigation-list">
      <li class="header__navigation-item">
        <nav class="header__navigation">
          <a href="/#" class="header__link-wrapper text-wrapper" data-text="Производство">
            <span class="header__link text">Производство</span>
          </a>
          <a href="/#" class="header__link-wrapper text-wrapper" data-text="Решения для отраслей">
            <span class="header__link text">Решения для отраслей</span>
          </a>
        </nav>
      </li>
      <li class="header__contact-message">
        <a href="/#" class="header__contact-link">Связаться</a>
        <a href="/#" class="header__message-link">
          <svg width="16" height="16" aria-hidden="true">
            <use xlink:href="#message"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>