<section class="industry">
  <div class="industry__content">
    <h2 class="industry__title">
      Отрасли применения
    </h2>
    <p class="industry__text">
      Для производства используются различные технологии, такие как пластификация, смешивание, нанесение покрытия и другие.
    </p>
    <div class="industry__container">
      <div class="industry__cards">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="industry__card">
              <img src="/images/industry-1.png" alt="image" class="industry__image">
              <div class="industry__bottom">
                <span class="industry__circle-enum"></span>
                <p class="industry__card-text">Городское благоустройство</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="industry__card">
              <img src="/images/industry-2.png" alt="image" class="industry__image">
              <div class="industry__bottom">
                <span class="industry__circle-enum"></span>
                <p class="industry__card-text">Промышленность</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="industry__card">
              <img src="/images/industry-3.png" alt="image" class="industry__image">
              <div class="industry__bottom">
                <span class="industry__circle-enum"></span>
                <p class="industry__card-text">Дизайн и архитектура</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="industry__card">
              <img src="/images/industry-4.png" alt="image" class="industry__image">
              <div class="industry__bottom">
                <span class="industry__circle-enum"></span>
                <p class="industry__card-text">Развитие инфраструктуры</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
