.about {
  width: 100%;
  margin-top: var(--block-distance);
  background: #F1F5E4;
  border-radius: var(--block-radius);

  &__content {
    padding: 2rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 2rem;
  }

  &__card {
    grid-column: span 4;

    background: white;
    border-radius: var(--block-radius);

    display: grid;
    grid-template-columns: repeat(0, minmax(0, 1fr));
    grid-template-rows: auto 1fr 1fr;
    row-gap: 6rem;
    padding: 6rem 4rem 0rem;

    color: var(--main-color);
  }

  &__card-upper-title {
    @include font-16();
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__card-images {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  &__card-image-main {
    border-radius: 50%;
    margin-right: 10rem;

    width: 25rem;
    height: 25rem;
  }

  &__card-image-bg {
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    z-index: 0;
    width: 25rem;
    height: 25rem;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
  }

  &__card-title {
    @include font-32();
    text-align: center;

    width: 100%;
    max-width: 35rem;
    font-weight: 500;
  }

  &__card-text {
    @include font-15();
    width: 100%;
    text-align: center;
    max-width: 44rem;
  }
}