.intro {
  &__content {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - var(--header-height));
    width: 100%;

    padding: 3.8rem 2rem;
    margin-top: var(--header-height);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include breakpoint(tablet) {
      padding: 30px 15px;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      background: url("/images/intro.png");
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -2;
      border-radius: var(--block-radius);
    }
  }

  &__title {
    @include font-90();
    position: relative;
    font-weight: 500;
    span {
      display: block;
    }

    @include breakpoint(laptop) {
      @include font-40();
      font-weight: 500;
    }
  }
  &__title-upper {
    width: 100%;
    max-width: 80.3rem;

    @include breakpoint(laptop) {
      position: static;
    }

    @include breakpoint(tablet) {
      max-width: 400px;
    }

    @include breakpoint(small-tablet) {
      max-width: 317px;
    }
  }

  &__title-bottom {
    width: 100%;
    max-width: 84.4rem;
    position: absolute;
    left: 35%;
    top: 65%;
    @include breakpoint(laptop) {
      position: static;
      max-width: 600px;
    }

    @include breakpoint(small-tablet) {
      max-width: 317px;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    column-gap: 16rem;

    margin-top: 11.5rem;

    @include breakpoint(laptop) {
      flex-direction: row-reverse;
      justify-content: space-between;

      column-gap: 0;
      margin-top: 110px;
    }
    @include breakpoint(small-tablet) {
      flex-direction: row-reverse;
      justify-content: space-between;

      column-gap: 0;
      margin-top: 50px;
    }
  }

  &__text {
    @include font-20();
    color: var(--color-white);
    width: 100%;
    max-width: 38.5rem;

    @include breakpoint(laptop) {
      @include font-15();
      max-width: 315px;
    }

    @include breakpoint(small-tablet) {
      @include font-13();
      max-width: 218px;
    }
  }

  &__link-hook {
    &:hover > svg {
      transform: translateY(1rem);
      opacity: .6;
    }

    svg {
      transition: transform ease .3s, opacity ease .3s;
      width: 2.6rem;
      height: 3rem;
      @include breakpoint(tablet) {
        width: 22px;
        height: 24px;
      }
      @include breakpoint(small-tablet) {
        width: 17px;
        height: 19px;
      }

    }
  }

  &__circle {
    width: 164.6rem;
    height: 164.6rem;
    border-radius: 50%;
    position: absolute;
    top: -95%;
    right: -50%;
    border: 22rem solid rgba(255, 255, 255, 0.10);

    @include breakpoint(tablet) {
      width: 552px;
      height: 552px;
      border: 100px solid rgba(255, 255, 255, 0.10);
      top: -50%;
      right: -75%;
    }
  }
}