.header {

  &__content {
    display: flex;
    align-items: center;
    height: var(--header-height);
    padding: 0 var(--container);
    z-index: $ui-index-6;

    background: black;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    justify-content: space-between;
  }

  &__logo {
    width: 44.6rem;
    height: 5rem;

    @include breakpoint(laptop) {
      width: 309px;
      height: 48px;
      background: rgba(209, 212, 215, 0.3);
      border-radius: var(--block-radius);
    }

    &:hover > svg {
      opacity: .6;
    }
    svg {
      transition: .3s ease opacity;

      width: 22rem;
      height: inherit;

      @include breakpoint(laptop) {
        width: 159px;
      }
    }
  }

  &__navigation-list {
    display: flex;
    align-items: center;
    column-gap: 3.1rem;
    @include breakpoint(laptop) {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    column-gap: 3rem;

    font-size: 1.5rem;
    font-weight: 400;
  }

  &__link {
    color: white;
    overflow: hidden;
    font-weight: 400;

    &:hover {
      transform: translateY(-2rem);
    }
  }

  &__contact-message {
    display: flex;
    align-items: center;
  }

  &__contact-link {
    width: 12.3rem;
    padding: 1.2rem 2.4rem;
    border-radius: 3.4rem;
    background: white;

    font-family: var(--intro-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03rem;

    color: var(--main-color);
  }

  &__message-link {
    padding: 1.2rem;
    border-radius: 50%;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      object-fit: cover;
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &__burger-btn {
    display: none;
    @include breakpoint(laptop) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 5px;
    }
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(209, 212, 215, 0.3);
    span {
      transition: .3s ease all;
      display: block;
      width: 19px;
      height: 2px;
      background: var(--color-white);
    }
  }

  &__burger-btn.active {
    span {
      &:nth-child(1) {
        transform: rotate(45deg) translateY(5px) translateX(5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-4.5px) translateX(5px);
      }
    }
  }
}