@mixin font-15() {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

@mixin font-16() {
  font-family: "Pangram", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.1rem;
}

@mixin font-20() {
  color: var(--color-white);
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

@mixin font-32 {
  font-family: "Pangram", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.1rem;
}

@mixin font-90() {
  color: var(--color-white);
  font-family: "Pangram", sans-serif;
  font-size: 10rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -0.16rem;
}
