:root {
  --primary-color: #418dd9;
  --text-color: #000d1a;
  --dark-bg: #1f262d;
  --bg: white;
  --onest: "Onest", sans-serif;
  --content-padding: 4rem;
  --container-width: 152.4rem;

  @include breakpoint(mobile) {
    --content-padding: 1.6rem;
  }
}
